*{
    color: white;
}

body{
    background-color: black;
    margin-left: 25px;
    margin-right: 25px;
}

img{
    filter: brightness(250%);
}

.jg{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

h1{
    font-size: 120px;
}

.starting{
    display: flex;
    justify-content: space-around;
}
nav{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.sections{
    padding-top: 17px;
}

a{
    text-decoration: none;
    padding-right: 12px;
}

nav div p {
    font-size: 25px;
}